.row-Right{
    width: 960px;
    height: auto;
    min-height: 540px;
    background-color: rgb(189, 185, 179);
    float: left;
}

.row-Right-Top{
    width: 100%;
    height: 70px;
    float: left;
}

.row-Right-Top a{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 500;
    color: black;
}

#row-Right-Mid-SanPham{
    margin-left: 20px;
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-LoaiSanPham{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-ThuongHieu{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-Gia{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-KhuyenMai{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-DonHang{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-CTDonHang{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-LSThanhToan{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-TaiKhoan{
    margin-left: 20px;
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-TinTuc{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

#row-Right-Mid-DGBaiViet{
    float: left;
    width: 0px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(242, 236, 236);
    opacity: 0;
    transition: 0.4s;
}

.row-R-Mid-Top{
    font-size: 21px;
    width: 100%;
    height: 80px;
    float: left;
    color: rgb(120, 117, 115);
}

.row-R-Mid-Top a{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}


