.row-R-Mid-Mid{
    width: 100%;
    height: 50px;
    float: left;
}

.div-SP-Trai{
    width: 600px;
    height: 100%;
    float: left;
}

.div-SP-Trai input{
    margin-left: 20px;
    float: left;
    width: 400px;
    height: 35px;
    outline: 0;
    padding: 0px 0px 0px 20px;
    float: left;
}

.btnTimKiemSP{
    margin-left: -10px;
    height: 39px;
    float: left;
    width: 110px;
    cursor: pointer;
}


.btnThemKhuyenMai{
    height: 39px;
    float: left;
    width: 80px;
    background-color: rgb(6, 167, 6);
    border: 1px solid ;
    color: white;
    cursor: pointer;
}

.btnXoaKhuyenMaiAll{
    height: 39px;
    float: left;
    width: 80px;
    background-color: rgb(225, 37, 37);
    border: 1px solid ;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

/* Thêm*/
#row-ThemKhuyenMai{
    width: 100%;
    height: 0px;
    float: left;
    background-color: rgb(18, 239, 166);
    transition: 0.4s;
    opacity: 0;
}

.SP{
    margin-left: 20px;
    float: left;
    margin-top: 10px;
    outline: 0;
    padding: 8px 0px 8px 20px;
}

.btnKhuyenMaiThem{
    cursor: pointer;
    border: 0px solid ;
    background-color: rgb(6, 167, 6);
    float: left;
    padding: 10px 20px;
    margin-left: 351px;
    margin-top: 10px;
    color: white;
}

#row-ThemKhuyenMai span{
    color: rgb(133, 126, 126);
    float: left;
    padding: 10px;
    margin-top: 20px;
    margin-left: -487px;
    background-color: rgb(0, 255, 115);
}

#row-ThemKhuyenMai a{
    color: rgb(133, 126, 126);
    float: left;
    padding: 10px;
    margin-top: 20px;
    margin-left: -460px;
    background-color: rgb(0, 255, 115);
}

/* Sửa */
#row-SuaKhuyenMai{
    width: 100%;
    height: 0px;
    float: left;
    background-color: rgb(90, 184, 218);
    transition: 0.4s;
    opacity: 0;
    position: relative;
}

.btnKhuyenMaiSua{
    cursor: pointer;
    border: 0px solid ;
    background-color: rgb(6, 124, 167);
    float: left;
    padding: 10px 20px;
    margin-left: 355px;
    margin-top: 10px;
    color: white;
}

/* Xóa */
#row-XoaKhuyenMai{
    width: 100%;
    /* height: 150px; */
    height: 0px;
    float: left;
    background-color: rgb(244, 127, 127);
    transition: 0.4s;
    opacity: 0;
    position: relative;
}

.btnKhuyenMaiXoa{
    cursor: pointer;
    border: 0px solid ;
    background-color: rgb(225, 37, 37);
    float: left;
    padding: 10px 20px;
    margin-left: 355px;
    margin-top: 10px;
    color: white;
}

.DataKhuyenMai{
    width: 100%;
    height: auto;
    min-height: 400px;
    float: left;
    background-color: rgb(173, 162, 162);
    transition: 0.4s;
    position: relative;
}


/* Data */
table{
    border-collapse: collapse;
    width: 100%;
}

table, th, td{
    border: 1px solid white;
}

th, td{
    padding: 8px;
    text-align: center;
    color: white;
}

.TableKM button{
    padding: 5px 6px 5px 6px;
}

.TableKM input[type="checkbox"] {
    transform: scale(1.5);
}

/* Thêm sản phẩm */
#row-ThemKM{
    width: 100%;
    height: 0px;
    float: left;
    background-color: rgb(18, 239, 166);
    transition: 0.4s;
    opacity: 0;
}

#row-SuaKM{
    width: 100%;
    height: 0px;
    float: left;
    background-color: rgb(18, 224, 239);
    transition: 0.4s;
    opacity: 0;
}