.ShowSanPham{
    width: 100%; 
    height: 50px;
    margin-top: 2720px;
    position:absolute;
}

.truTop20{
    margin-top: -20px;
}

/* chọn 1 */
.cd-SPshowH1a{
    opacity: 0;
}
.cd-SPshowH1a.SPshowRH1a {
    animation: RightH1a 2s ease forwards;
}
@keyframes RightH1a{
    from{transform: translateX(-60px);opacity: 0;z-index: 0;}
    to{transform: translateX(0);opacity: 1;z-index: 20;}
}
.cd-SPshowH1a.SPshowLH1a {
    animation: LeftH1a 2s ease forwards;
}
@keyframes LeftH1a{
    from{transform: translateX(0px);opacity: 1;z-index: 20;}
    to{transform: translateX(-60px);opacity: 0;z-index: 0;}
}

.cd-SPshowH1b{
    opacity: 0;
}
.cd-SPshowH1b.SPshowLH1b {
    animation: RightH1b 2s ease forwards;
}
@keyframes RightH1b{
    from{transform: translateX(60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH1b.SPshowRH1b {
    animation: LeftH1b 2s ease forwards;
}
@keyframes LeftH1b{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(60px);opacity: 0;}
}


/* chọn 2 */
.cd-SPshowH2a{
    opacity: 0;
}
.cd-SPshowH2a.SPshowRH2a {
    animation: RightH2a 2s ease forwards;
}
@keyframes RightH2a{
    from{transform: translateX(-60px);opacity: 0;z-index: 0;}
    to{transform: translateX(0);opacity: 1;z-index: 20;}
}
.cd-SPshowH2a.SPshowLH2a {
    animation: LeftH2a 2s ease forwards;
}
@keyframes LeftH2a{
    from{transform: translateX(0px);opacity: 1;z-index: 20;}
    to{transform: translateX(-60px);opacity: 0;z-index: 0;}
}

.cd-SPshowH2b{
    opacity: 0;
}
.cd-SPshowH2b.SPshowLH2b {
    animation: RightH2b 2s ease forwards;
}
@keyframes RightH2b{
    from{transform: translateX(60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH2b.SPshowRH2b {
    animation: LeftH2b 2s ease forwards;
}
@keyframes LeftH2b{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(60px);opacity: 0;}
}


/* chọn 3 */
.cd-SPshowH3a{
    opacity: 0;
}
.cd-SPshowH3a.SPshowRH3a {
    animation: RightH3a 2s ease forwards;
}
@keyframes RightH3a{
    from{transform: translateX(-60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH3a.SPshowLH3a {
    animation: LeftH3a 2s ease forwards;
}
@keyframes LeftH3a{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(-60px);opacity: 0;}
}

.cd-SPshowH3b{
    opacity: 0;
}
.cd-SPshowH3b.SPshowLH3b {
    animation: RightH3b 2s ease forwards;
}
@keyframes RightH3b{
    from{transform: translateX(60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH3b.SPshowRH3b {
    animation: LeftH3b 2s ease forwards;
}
@keyframes LeftH3b{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(60px);opacity: 0;}
}


/* chọn 4 */
.cd-SPshowH4a{
    opacity: 0;
}
.cd-SPshowH4a.SPshowRH4a {
    animation: RightH4a 2s ease forwards;
}
@keyframes RightH4a{
    from{transform: translateX(-60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH4a.SPshowLH4a {
    animation: LeftH4a 2s ease forwards;
}
@keyframes LeftH4a{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(-60px);opacity: 0;}
}

.cd-SPshowH4b{
    opacity: 0;
}
.cd-SPshowH4b.SPshowLH4b {
    animation: RightH4b 2s ease forwards;
}
@keyframes RightH4b{
    from{transform: translateX(60px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.cd-SPshowH4b.SPshowRH4b {
    animation: LeftH4b 2s ease forwards;
}
@keyframes LeftH4b{
    from{transform: translateX(0px);opacity: 1;}
    to{transform: translateX(60px);opacity: 0;}
}
