.imgVaoTren{
    width: 610px;
    height: 500px;
}

.imgVaoDuoi{
    width: 610px;
    height: 500px;
    margin-left: 600px;
    margin-top: -400px;
    z-index: 0;
}


.hieuung1{
    opacity: 0;
}
.hieuung1.divao {
    animation: cdSang 1.5s ease forwards;
}
@keyframes cdSang{
    from{transform: translateX(-300px) translateY(-300px);opacity: 0;}
    to{transform: translateX(0) translateY(0);opacity: 1;}
}


.hieuung2{
    opacity: 0;
}
.hieuung2.dira {
    animation: cdRa 1.5s ease forwards;
}
@keyframes cdRa{
    from{transform: translateX(300px) translateY(300px);opacity: 0;}
    to{transform: translateX(0) translateY(0);opacity: 1;}
}